<!DOCTYPE html>
<html lang="ja">
	<%- include('./common/_head') %>
	<body>
		<%- include('./common/_header') %>
		<main>
			<section class="p-news-article">
				<div class="p-news-article__mv c-lower-mv wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="1s">
					<figure class="p-news-article__mv-wrapper c-lower-mv__image-wrapper">
						<picture class="p-news-article-mv__image c-lower-mv__image">
							<source srcset="../images/news/news-mv.jpg" media="(min-width: 768px)" />
							<img src="../images/news/sp-news-mv.jpg" alt="アドネス株式会社ニュース記事メインビュー" />
						</picture>
					</figure>
					<h1 class="c-lower-mv__title">ニュース<br /><span class="c-lower-mv__subtitle">News</span></h1>
				</div>
				<div class="p-news-article__container">
					<div class="c-breadcrumb">
						<p class="c-breadcrumb__home">ホーム</p>
						<p class="c-breadcrumb__news">ニュース</p>
						<p class="c-breadcrumb__article">記事</p>
					</div>
					<section class="p-news-article__content l-inner">
						<p class="p-news-article__title">これは記事のタイトルです。</p>
						<p class="p-news-article__text">
							この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。<br /><br />この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。<br /><br />文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。
						</p>
					</section>
				</div>
				<section class="c-cta"><%- include('./common/_cta-document-request') %> <%- include('./common/_cta-contact') %></section>
				<%- include('./common/_footer') %>
			</section>
		</main>
	</body>
</html>
